[submodule "dependencies/burn"]
	path = dependencies/burn
	url = https://github.com/burn-rs/burn.git
[submodule "dependencies/candle"]
	path = dependencies/candle
	url = https://github.com/huggingface/candle.git
